<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-4">What We Do</h2>
    <p>GoodGameBets provides a betting platform to E-sports enthusiasts very similar to common existing websites for regular sports.</p>
    <p>Making it more exiting to follow major games and events, were when your team or pick wins you also collect the benefits of that victory.</p>
    <p>To make all the process simpler and make sure user is always in control of their assets, we make use of the new wave of digital currencies. Built on Top of the OST open protocol, all bets are made using our branded "ggt" token.</p>
    <p>
      <%= link_to 'Join GGB >', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
  <div class="col-sm-4">
    <h2 class="mt-4">Contact Us</h2>
    <address>
      <strong>Blocksmith</strong>
      <br>First Floor
      <br>10-16 Scrutton Street
      <br>London, EC2A 4RU
    </address>
    <address>
      <abbr title="Email">E:</abbr>
      <a href="mailto:#">rafael@blocksmith.tech</a>
    </address>
  </div>
</div>

<% unless @game.blank? %>
<div class="row">
  <div class="container m-5">
    <div class="row">
      <h3><strong>Upcoming highlighted match</strong></h3>
    </div>
    <div class="row">
      <h4>May 7, 2018 - 01:00</h4>
    </div>
    <hr/>
    <%= render 'layouts/bet_form', game: @game, link: false %>
    <hr/>
  </div>
</div>
<% end -%>

<div class="row">
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "csgo.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">CS:GO</h4>
        <p class="card-text">From this moment you place bets of games for the biggest majors from the most played shooter in competitive gaming.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Check current open bets</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "dota2.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Dota 2</h4>
        <p class="card-text">Soon the games for most well known tournaments for this Valve game will be available on our platform.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Coming soon</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "lol.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">League of Legends</h4>
        <p class="card-text">One of the biggest fields on competitive gaming nowadays will also be present on GGB. More detailed news will published soon. </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Coming soon</a>
      </div>
    </div>
  </div>
</div>

