<a class="list-group-item list-group-item-action <% if bet.lost? %>list-group-item-danger <% elsif bet.won?%>list-group-item-success<% end%>" href="<%= game_path(game) %>">
  <%= bet.created_at %> - Placed <%= bet.amount %> GGT on <%= bet.team.name %>
  <% if game.completed? %>
    <% if bet.won? %>
      and won <%= bet.award %> GGT
    <% else %>
      and lost
    <% end -%>
  <% end -%>
</a>
