<% content_for :title do %>About<% end %>
<div class="row text-center m-5">
  <div class="col-sm-12 font-weight-bold">
    <h1>GoodGameBets and the GGT Token</h1>
    <p class="m-5">
      GoodGame Bets is a new simple and interactive platform that allows players to bet on esports. Our aim is to improve engagement and drive economic growth on the e-sports community.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>
      The ggToken allows players to easily and safely bet on their favourite teams and likewise be rewarded by their teams success. The use of GGT allows access for millions of potential players who currently cannot deposit money to gambling sites, while also vastly reduces transaction costs.
    </p>
    <p>
      This project was created to support the e-sports comunity and it is intended to increase interest in matches that are held as part of the biggest tournaments and leagues in the world. While we are focusing on <%= link_to('Counter-Strike: Go', 'http://www.counter-strike.net/') %> right now, we will soon support other popular e-sports games such as <%= link_to('League of Legends', 'https://www.lolesports.com') %> and <%= link_to('Dota2', 'http://www.dota2.com/') %>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "csgo.jpg", class: "card-img-top" %>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "lol.jpg", class: "card-img-top" %>
    </div>
  </div>
  <div class="col-sm-4 my-4">
    <div class="card">
      <%= image_tag "dota2.jpg", class: "card-img-top" %>
    </div>
  </div>
</div>
