<%= render 'layouts/bet_form', game: @game, link: false %>

<hr>

<div class="row">
  <div class="col-md-12">
    <% if @game.stream_url %>
      <% if video_provider(@game.stream_url) == 'www.youtube.com' %>
        <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/<%= parse_youtube_video_id(@game.stream_url) %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <% elsif video_provider(@game.stream_url) == 'www.twitch.tv' %>
        <iframe src="https://player.twitch.tv/?<% if twitch_channel?(@game.stream_url) %>channel=<% else %>video=v<% end %><%= parse_twitch_video_id(@game.stream_url) %>" frameborder="0" allowfullscreen="true" scrolling="no" height="400" width="100%"></iframe>
      <% else %>
        Unsupported provider. You can follow the game in the following URL: <a href="<%= @game.stream_url %>">Click here to watch</a>
      <% end %>
    <% else %>
    <img data-src="holder.js/100px250" class="img-fluid" alt="100%x250" style="height: 400px; width: 100%; display: block;" src="https://via.placeholder.com/1400x600?text=Stream%20will%20play%20here%20Soon"true">
    <% end -%>
  </div>
</div>
<% if current_user %>
  <hr><br>
  <div class="row">
    <div class="col-md-12" >
      <h3>Your bets on this game</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" >
      <div class="list-group">
        <% @user_bets.each do |bet| %>
          <%= render 'bets/item', game: bet.game, bet: bet %>
        <% end -%>
        <% if @user_bets.empty? %>
          <p>You don't have any placed bets.</p>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
