<div class="container m-5">
  <div class="row mt-5">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-8 text-right my-auto">
          <h3>Natus Vincere</h3>
        </div>
        <div class="col-md-4">
          <img src="https://d1u5p3l4wpay3k.cloudfront.net/dota2_gamepedia/thumb/0/05/Team_icon_Natus_Vincere.png/256px-Team_icon_Natus_Vincere.png">
        </div>
      </div>
      <% if current_user && game.closes_at > Time.zone.now %>
      <div class="row">
        <div class="mx-auto">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" disabled>Bet: </button>
            <%= button_to "1 GGT", bets_path, class: "btn btn-secondary btn-lg no-radius", method: 'post', params: { game_id: game.id, team_id: game.home_team_id, amount: 1} %>
            <%= button_to "5 GGT", bets_path, class: "btn btn-secondary btn-lg no-radius", method: 'post', params: { game_id: game.id, team_id: game.home_team_id, amount: 5} %>
            <%= button_to "20 GGT", bets_path, class: "btn btn-secondary btn-lg no-left-radius", method: 'post', params: { game_id: game.id, team_id: game.home_team_id, amount: 20} %>
          </div>
        </div>
      </div>
      <% end -%>
    </div>

    <div class="col-md-2 text-center my-auto">
      <h3>VS</h3>
    </div>

    <div class="col-md-5">
      <div class="row">
        <div class="col-md-4">
          <img src="https://edb-cdn-prod-tqgiyve.stackpathdns.com/teams/icons/4435f664-ca95-11e7-a833-0ec39221f676.png">
        </div>
        <div class="col-md-8 text-left my-auto">
          <h3>Team Liquid</h3>
        </div>
      </div>
      <% if current_user && game.closes_at > Time.zone.now %>
      <div class="row">
        <div class="mx-auto">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" disabled>Bet: </button>
            <%= button_to "1 GGT", bets_path, class: "btn btn-secondary btn-lg no-radius", method: 'post', params: { game_id: game.id, team_id: game.away_team_id, amount: 1} %>
            <%= button_to "5 GGT", bets_path, class: "btn btn-secondary btn-lg no-radius", method: 'post', params: { game_id: game.id, team_id: game.away_team_id, amount: 5} %>
            <%= button_to "20 GGT", bets_path, class: "btn btn-secondary btn-lg no-left-radius", method: 'post', params: { game_id: game.id, team_id: game.away_team_id,amount: 20} %>
          </div>
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>
