<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Goodgamebets" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Goodgamebets" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <% if request.path == '/' %>
    <header class="business-header d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-white mt-4">They smash and you cash</h1>
            <p class="text-white">The easiest way to bet on your favorite e-sport events.</p>
            <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary btn-lg' %>  class="btn btn-primary btn-lg">Large button</a>
          </div>
        </div>
      </div>
    </header>
    <% end %>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GoodGame Bets 2018</p>
      </div>
    </footer>
  </body>
</html>
